// This import applies a global reset to any page that imports this stylesheet.
// To configure blueprint, edit the partials/_base.sass file.
@import "partials/_base.scss";
@import "blueprint/screen.sass";
@import "blueprint/modules/scaffolding.sass";
@import "compass/reset.sass";
@import "compass/utilities.sass";

@include blueprint-typography(unquote("body.blueprint"));

body.blueprint {
  @include blueprint-scaffolding;
  .container {
    @include container; } }

body#default {
  .container {
    border: 1px solid #ccccc9; }
  #header {
    @include column(8, true);
    background-color: #ccccc9;
    height: 117px;
    h1 {
      float: left; }
    img {
      margin-left: 27px; }
    #site-actions {
      float: right;
      @include horizontal-list; } }
  #leftsubheader {
    @include column(4);
    height: 23px;
    span {} }
  #rightsubheader {
    @include column(4, true);
    height: 23px;
    text-align: right; }
  #navigation {
    @include column(2); }
  #main-content {
    @include column(6, true);
    min-height: 444px; }
  #footer {
    @include column(8, true);
    span {
      padding: 6px; }
    #legalese {
      @include column(4); }
    #subscribe {
      @include column(4, true);
      text-align: right; } } }
